router bgp {{ bgp.as_num }}
{% if bgp.nsr %}
nsr
{% endif %}
{% if bgp.router_id %}
bgp router-id {{ bgp.router_id }}
{% endif %}
###########################Global Address Family Context###############################
{% if bgp.address_family %}
{% for af, elems in bgp.address_family.items() %}
 {% if elems.flag == true %}
   address-family {{ af }}
	 {% if elems.bgp_attribute_download %}
	     bgp attribute-download
	 {% endif %}
	 {% if elems.distance_bgp %}
	     distance {% for dist in elems.distance_bgp %} {{ dist }} {% endfor %}
	 {% endif %}
 {% endif %}
 {% if elems.network %}
   {% for net in elems.network %}
     network {{ net.address }} {% if net.route_policy.flag == true %} route-policy {{net.route_policy.name}} {% endif %}
   {% endfor %}
 {% endif %}
 {% if elems.additional_paths %}
   {% for path in elems.additional_paths %}
     {% if path.selection %}
      additional-paths selection route-policy {{ path.selection.route_policy }}
	 {% else %}
	   additional-paths {{ path }}
	 {% endif %}
   {% endfor %}
 {% endif %} 
{% endfor %}
{% endif %}
############################Neighbors in global############################################
{% if bgp.neighbors %}
 {% for neighbor in bgp.neighbors %}
  neighbor {{ neighbor.neighbor_ip }}
   remote-as {{ neighbor.remote_as }}
  {% if neighbor.ebgp.flag==true %}
   ebgp-multihop {{ neighbor.ebgp.multihop }}
  {% endif %}
  {% if neighbor.timers.flag==true %}
   timers {{ neighbor.timers.hello }} {{ neighbor.timers.dead }}
  {% endif %} 
  {% if neighbor.local_as.flag==true %}
   local-as {{ neighbor.local_as.number }} {% if neighbor.local_as.no_prepend==true %} no-prepend {% endif %} {% if neighbor.local_as.replace_as==true %} replace-as {% endif %}
  {% endif %} 
   description {{ neighbor.description }}
  {% for af, elems in neighbor.neighbor_global.items() %} 
     {% if elems.flag == true %}
        address-family {{ af }}
		 {% if elems.send_community_ebgp %}
		    send_community_ebgp
         {% endif %}		  
         {% if elems.route_policy_in %}
            route-policy {{ elems.route_policy_in }} in
         {% endif %}
         {% if elems.route_policy_out %}
            route-policy {{ elems.route_policy_out }} out
         {% endif %}
     {% endif %}
  {% endfor %}
 {% endfor %}
{% endif %}
#################################################################################################### 
####################################################################################################
#################################### Vrf Context####################################################  
{% if bgp.vrf %}
 {% for vrf in bgp.vrf %}
 vrf {{ vrf.name }}
  rd {{ vrf.rd }}
  {% if vrf.default_information_originate %}
  default_information_originate
  {% endif %}
  {% for af, elems in vrf.address_family.items() %}
    {% if elems.flag == true %}
	  address-family {{ af }}
	   {% if elems.label_mode %}
	      label mode {{ elems.label_mode }}
	   {% endif %}
	   {% for type in elems.redistribute %}
	     redistribute {{ type}}
	   {% endfor %}
	{% endif %}
  {% endfor %}
################################# Vrf Neighbors Context##########################################
 {% if vrf.neighbors %}
  {% for neighbor in vrf.neighbors %}
  neighbor {{ neighbor.neighbor_ip }}
   remote-as {{ neighbor.remote_as }}
  {% if neighbor.ebgp.flag==true %}
   ebgp-multihop {{ neighbor.ebgp.multihop }}
   {% endif %}
   {% if neighbor.timers.flag==true %}
   timers {{ neighbor.timers.hello }} {{ neighbor.timers.dead }}
   {% endif %} 
   {% if neighbor.local_as.flag==true %}
   local-as {{ neighbor.local_as.number }} {% if neighbor.local_as.no_prepend==true %} no-prepend {% endif %} {% if neighbor.local_as.replace_as==true %}replace-as{% endif %}
   {% endif %} 
   description {{ neighbor.description }}
   {% for af, elems in neighbor.neighbor_address_family.items() %} 
      {% if elems.flag == true %}
        address-family {{ af }}
		  {% if elems.send_community_ebgp %}
		    send_community_ebgp
          {% endif %}		  
          {% if elems.route_policy_in %}
            route-policy {{ elems.route_policy_in }} in
          {% endif %}
          {% if elems.route_policy_out %}
            route-policy {{ elems.route_policy_out }} out
          {% endif %}
      {% endif %}
   {% endfor %}  
  {% endfor %}
  {% endif %}
################################################################################################
 {% endfor %}
{% endif %}
#################################################################################################  