{% extends bgp_base.j2 %}

{% block bgp_vrf_context.j2 %}

{% for vrf in bgp.vrf %}
 vrf {{ vrf.name }}
  rd {{ vrf.rd }}
  {% if vrf.default_information_originate %}
  default_information_originate
  {% endif %}
  {% for af, elems in vrf.address_family.items() %}
    {% if elems.flag == true %}
	  address-family {{ af }}
	   {% if elems.label_mode %}
	      label mode {{ elems.label_mode }}
	   {% endif %}
	   {% for type in elems.redistribute %}
	     redistribute {{ type}}
	   {% endfor %}
	{% endif %}
  {% endfor %}
#######################
#Vrf Neighbors Context#
#######################
 {% if vrf.neighbors %}
  {% block bgp_vrf_neighbors %}
  {% endblock %}
 {% endif %}
##############################
#End of Vrf Neighbors Context#
##############################
{% endfor %}

{% endblock %}